#title {
    color:blue;
    font-size: 50px;
    border-bottom: 5px solid gray;
}

a:hover {
    background-color: lightblue;
    transition: 0.2s;
}

.Italian {
    background: lightblue;
    margin: 10px;
    border: 5px solid black;
    padding: 10px;
}

.Japanese {
    background: lightgoldenrodyellow;
    margin: 10px;
    border: 5px solid black;
    padding: 10px;
}

.Indian {
    background: lightpink;
    margin: 10px;
    border: 5px solid black;
    padding: 10px;
}
